.dashed-line {
  border: none;
  height: 2px;
  width: 100%;
  margin: 72px 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 55%, rgba(255, 255, 255, 0) 50%);
  background-size: 10px 1px;
}

// .budgets-list {
//   // margin-top: 36px;
// }


.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__navContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    padding-inline: 24px;
  }

  &__icon {
    color: rgba(0, 0, 0, 0.7);
    transition: color 0.1s;

    &:hover {
      color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }
  }

  & p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
    transition: color 0.1s;

    &:hover {
      color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }

  }
}


.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 800px;
  // min-height: 160px;
  height: fit-content;
  margin: auto;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 32px;
  margin-block: 16px;
  background-color: transparent;

  &__userInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
  }

  &__username {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 90%;
  }

  &__userInfo {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 90px;
  }

  &__itemsTitle {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  & ul {
    padding-inline: 16px;
    margin: 0;
    margin-top: 4px;

    & li {
      line-height: 140%;
    }
  }

  .totalSection {
    display: flex;
    flex-direction: column;
  }

  &__totalTitle {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
    text-align: end;
    margin-right: 16px;
    margin-bottom: 8px;
  }

  &__total {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: end;

    & span {
      font-size: 18px;
      font-weight: 400;
      margin-left: -8px;
      // color: rgba(0, 0, 0, 0.6);
    }
  }
}
