<div class="dashed-line"></div>


<article class="budgets-list">

  <header class="header">
    <h1 class="header__title">Pressupostos en curs:</h1>
    <section class="header__navContainer">
      <mat-icon class="header__icon">search</mat-icon>
      <p>Data</p>
      <p>Import</p>
      <p>Nom</p>
    </section>
  </header>

  <!-- <div *ngFor="let budget of budgets()"></div> -->

  @for(budget of budgetService.budgets(); track budget.createdAt){
  <article class="card">
    <section class="card__userInfoContainer">
      <h3 class="card__username">{{budget.name}}</h3>
      <p class="card__userInfo">{{budget.email}}</p>
      <p class="card__userInfo">{{budget.phone}}</p>
    </section>
    <section class="card__items">
      <h4 class="card__itemsTitle">Serveis contractats:</h4>
      <ul>
        @if(budget.seoCheckbox){
        <li>Seo</li>
        }
        @if(budget.adsCheckbox){
        <li>Ads</li>
        }
        @if(budget.webCheckbox){
        <li>Web ({{budget.pagesFrm || 0}} pàgines, {{budget.languagesFrm || 0}} llenguatges)</li>
        }
      </ul>
    </section>
    <section class="card__totalSection">
      <p class="card__totalTitle">Total:</p>
      <h2 class="card__total">{{budget.total}} <span>€</span></h2>
    </section>
  </article>
  }


  <!-- <article class="card">
    <section class="card__userInfoContainer">
      <h3 class="card__username">Ona Costa</h3>
      <p class="card__userInfo">{{'ona_costa@email.com'}}</p>
      <p class="card__userInfo">4576342985</p>
    </section>
    <section class="card__items">
      <h4 class="card__itemsTitle">Serveis contractats:</h4>
      <ul>
        <li>Seo</li>
        <li>Ads</li>
        <li>Web (4 pàgines, 2 llenguatges)</li>
      </ul>
    </section>
    <section class="card__totalSection">
      <p class="card__totalTitle">Total:</p>
      <h2 class="card__total">400 <span>€</span></h2>
    </section>
  </article> -->

</article>
